$pcL: 1980px; // PC L
$pcM: 1440px; // PC M
$pcS: 1024px; // PC S
$tab: 850px; // タブレット
$sp: 480px;  // スマホ

$sidebar-width-base: 242px;
$sidebar-width-small: 80px;
$bg-white: #fff;
$header-height: 64px;
$box-shadow-base: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$border-radius: 10px;
$gray-500: rgba(107, 114, 128, 1);